@CHARSET "ISO-8859-1";

#cartContent {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 13px;
	clear: right;
	float: left;
	width: 620px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#cart {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 10px;
	float: right;
	margin: 0;
}

#cartContent td {
	padding: 0 10px;
}

#itemDescription{
	width: 60px;
	
} 
#cartContent tr {
	tr: nth-child(odd){ 
	background-color:  #eee;
	}
	tr:nth-child(even) {
	background-color: #fff;
	}
}