@CHARSET "ISO-8859-1";
#categoryItemsLargeImg img
  {
  margin:2px;
  border:0px solid #0000ff;
  height:150;
  width: 315px;
  float:left;
  text-align:center;
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
  
  #categoryItemsSmallImg img
  {
  margin:2px;
  border:0px solid #0000ff;
  height:50px;
  width: 60px;
  float:left;
  text-align:center;
  display:inline;
  border:1px solid #ffffff;
  }
  
#categoryItems img a:hover img
  {
  border:1px solid #0000ff;
  }
#heading{
	align: center;
}