@CHARSET "ISO-8859-1";
div.img
  {
  margin:2px;
  border:0px solid #0000ff;
  height:150;
  width: 315px;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  height:90px;
  margin:2px;
  }
  div.address_container
  {
  float: center;
  width:620px;
  height:150px;
 }
 div.address_container p{
 float: center;
 text-align:center;
  font-weight:normal;
  width:160px;
  margin:2px;
 }
 div.address p
  {
  text-align:center;
  font-weight:normal;
  width:130px;
  
 }
 
div.row
  {
  float:right;
  width: 670px;
  }